body.modal-is-open {
    overflow: hidden;
    height: 90%;
}

.gallery-banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-fossil-card {
  width: 18rem;
  margin: 0 auto 15px auto;
}

.gallery-fossil-card img{
    height: 12rem;
    margin: 0 auto;
    object-fit:cover;
    object-position: center;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

/** Multi Select **/
.multi-select-wrapper .list-group {
    position: absolute;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    border-radius: 0;
    z-index: 999;
}

.multi-select-wrapper .search-field .field-list {
    border-bottom: 1px;
}

.multi-select-wrapper .search-field {
    position: relative;
}

.multi-select-wrapper .search-field .multi-select-chevron-down {
    position: absolute;
    right: 10px;
    top: 8px;
}
/** Multi Select end **/

/** Gallery overlay start **/
.gallery-carousel-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 10px 0 0;
}

.gallery-carousel-close:hover {
    color: #adb5bd;
}

.gallery-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 9999;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.gallery-overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#gallery-carousel {
    cursor: auto;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-height: 90%;
    max-width: 1800px;
}

#gallery-carousel .carousel-inner .carousel-item {
    text-align: center;
    white-space: nowrap;
}

#gallery-carousel .carousel-inner .carousel-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#gallery-carousel .carousel-inner .carousel-item img{
    width: 80%;
    height: 80%;
    max-height: 1200px;
    display: inline-block;
    vertical-align: middle;
    max-width: 1600px;
}