
/.env
/.env.local
/.env.local.php
/.env.*.local

/config/secrets/prod/prod.decrypt.private.php

/public/bundles/
/var/
/vendor/

.phpunit.result.cache
install.lock

.idea
.env

/public/translations/messages.json
/public/translations/messages_defaults.json

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
