parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - # ignore constructor return types
            message: '#^Method .*::__construct\(\) with return type void returns.*#'