{% if fossilFormFields is not defined %}
    <div class="alert alert-danger" role="alert">
        {% trans %}base.detailRenderer.formFieldIsNoteDefined{% endtrans %}
    </div>
{% elseif groupName is not defined %}
    <div class="alert alert-danger" role="alert">
        {% trans %}base.detailRenderer.groupNameIsNoteDefined{% endtrans %}
    </div>
{% else %}
    {% for formField in fossilFormFields %}
        {% if formField.fieldGroup == groupName %}
            <div class="mt-3">
                <label class=""><strong>{{ formField.fieldLabel }}:</strong></label>
                {% if formField.fieldType == 'TEXT' %}
                    {{ formField.fieldValue }}
                {% elseif formField.fieldType == 'TEXTAREA' %}
                    <p>
                        {{ formField.fieldValue }}
                    </p>
                {% elseif formField.fieldType == 'BOOL' %}
                    <span class="badge bg-secondary">
                        {% if formField.fieldValue %}
                            {% trans %}base.booleanField.trueValue{% endtrans %}
                        {% else %}
                            {% trans %}base.booleanField.falseValue{% endtrans %}
                        {% endif %}
                    </span>
                {% elseif formField.fieldType == 'DATE' %}
                    {{ formField.fieldValue|date('Y-m-d') }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}