{% if value %}
    <span class="boolean-column-icon-badge badge rounded-pill text-bg-success px-1 py-1 text-center">
        <i class="bi bi-check"></i>
    </span>
{% else %}
    <span class="boolean-column-icon-badge badge rounded-pill text-bg-danger px-1 py-1 text-center">
        <i class="bi bi-x --bs-danger"></i>
    </span>
{% endif %}