{% extends 'administration/base.html.twig' %}

{% block title %}{% trans %}admin.fossil.title{% endtrans %}{% endblock %}

{% block content %}
    <div class="card mt-3">
        <div class="card-header">
            {% trans %}admin.fossil.title{% endtrans %}
        </div>
        <div class="card-body">
            <div class="clearfix">
                <a href="{{ url('app_admin_fossil_create_form') }}"
                   class="btn btn-primary float-end">
                    {% trans %}base.button.create{% endtrans %} <i class="bi-plus-lg"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            {% trans %}base.filter{% endtrans %}
        </div>
        <div class="card-body">
            {% include "administration/fossil/filter.html.twig" %}
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            {% trans %}base.list{% endtrans %}
        </div>
        <div class="card-body">
            {% include 'pagination.html.twig' %}
            {% include 'administration/fossil/fossil-list.html.twig'  with {'list': fossilList, 'formFieldList': formFields } %}
        </div>
    </div>
{% endblock %}