.searchResultContainer {
    height: 600px;
    min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.page-loading-indicator {
    visibility: hidden;
}

div.show-loading-indicator {
    opacity:    0.5;
    background: #000;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
    visibility: visible;
}

div.show-loading-indicator .spinner-border {
    position: fixed;
    z-index: 999;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

.container .card .card-body .fossil-list-table .fossil-list-image-column .list-image {
    display: block;
    width: 90px;
    height: 90px;
}

.modal-content .modal-header #closeButton {
    position: absolute;
    right: 5px;
}

/** Multi Select **/
.multi-select-wrapper .list-group {
    position: absolute;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    border-radius: 0;
    z-index: 999;
}

.multi-select-wrapper .search-field .field-list {
    border-bottom: 1px;
}

.multi-select-wrapper .search-field {
    position: relative;
}

.multi-select-wrapper .search-field .multi-select-chevron-down {
    position: absolute;
    right: 10px;
    top: 8px;
}
/** Multi Select end **/

.fossil-list-action-column-buttons {
    width: 0;
    min-width: fit-content;
    text-align: center;
}

.action-column-row {
    width: max-content;
}

.action-column-row .col{
    margin: unset;
    padding: 0 3px 0 0;
}
.image-carousel-modal {
    overflow: hidden;
}
.carousel-item img {
    width: auto;
    height: 86vh;
    margin: auto;
    display: block;
}

.image-carousel-modal .modal-body {
    background: #1a1d20;
}

body.modal-is-open {
    overflow: hidden;
    height: 90%;
}

.banner .banner-preview .banner-preview-image {
    width: 300px;
    height: 78px;
    margin: 0 auto;
    object-fit:cover;
    object-position: center;
}

/** Gallery overlay end **/

/** Detail page image **/
.image-container {
    position: relative;
    display: inline-block;

    .image-delete-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}
/** Detail page image end **/
