<div class="clearfix">
    <form name="filters" method="post" action="{{ url('gallery_index') }}">
        <div class="mt-3">
            <div class="mt-3 row-cols-1 row-cols-lg-2 row">
                <div class="col">
                    {% include 'administration/base/multi-select.html.twig' with { 'fieldName': 'category', 'fieldLabel': 'admin.fossil.form.category'|trans, 'choiceList': categories, 'fieldValues': filterSelection.category } %}
                </div>
                <div class="col">
                    {% include 'administration/base/multi-select.html.twig' with { 'fieldName': 'tag', 'fieldLabel': 'admin.fossil.form.tags'|trans, 'choiceList': tags, 'fieldValues': filterSelection.tag } %}
                </div>
            </div>
            <div class="mt-3 row-cols-1 row-cols-lg-3 row">
                <div class="col">
                    {% include 'administration/base/multi-select.html.twig' with { 'fieldName': 'system', 'fieldLabel': 'admin.formFields.system'|trans, 'choiceList': systems, 'fieldValues': filterSelection.system } %}
                </div>
                <div class="col">
                    {% include 'administration/base/multi-select.html.twig' with { 'fieldName': 'series', 'fieldLabel': 'admin.formFields.series'|trans, 'choiceList': series, 'fieldValues': filterSelection.series } %}
                </div>
                <div class="col">
                    {% include 'administration/base/multi-select.html.twig' with { 'fieldName': 'stage', 'fieldLabel': 'admin.formFields.stage'|trans, 'choiceList': stages, 'fieldValues': filterSelection.stage } %}
                </div>
            </div>
            <div class="mt-3">

                <input type="text" class="form-control" name="searchTerm" placeholder="{{ 'base.searchTerm'|trans }}" value="{% if filterSelection.searchTerm is defined %}{{ filterSelection.searchTerm }}{% endif %}">
            </div>
            <div class="mt-3 clearfix">
                <div class="btn-group float-end" role="group">
                    <a href="{{ url('gallery_index_filter_clear') }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="bottom"
                       data-bs-title="{% trans %}base.button.clearFilter{% endtrans %}"
                       class="btn btn-secondary"><i class="bi-x"></i></a>

                    <button type="submit"
                            class="btn btn-primary">{% trans %}base.button.filter{% endtrans %}
                        <i class="bi-filter"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>