<div class="container">
    <nav class="navbar sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url('gallery_index') }}">
                {% if settings.brand %}
                    {{ settings.brand }}
                {% else %}
                    {% trans %}admin.baseTitle{% endtrans %}
                {% endif %}
            </a>

            <a class="nav-link" aria-current="page" style="position: absolute; right: 10px"
               href="{{ url('administration_login') }}">{% trans %}gallery.nav.login{% endtrans %}</a>
        </div>
    </nav>
</div>